@import "../partials.scss";
.favouritesBox * {
  background-color: transparent;
  transition: 0.2s;
}
.favouritesBox {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  @include flexRowCenter;
  .fContent {
    @include flexColumnCenter;
    width: 50%;
    gap: 20px;
    @media screen and (max-width: 1400px) {
      width: 60%;
    }
    @media screen and (max-width: 1150px) {
      width: 70%;
    }
    @media screen and (max-width: 1100px) {
      width: 90%;
    }
    @media screen and (max-width: 800px) {
      width: 95%;
    }
    > div {
      width: 100%;
    }
    .fUpper {
      @include flexRowCenter;
      justify-content: space-between;
      .fUpperLeft {
        > p {
          font-style: normal;
          font-weight: 800;
          font-size: 20px;
          line-height: 24px;
          color: rgba(255, 255, 255, 0.29);
        }
      }
      .fUpperRight {
        @include flexRowCenter;
        > div {
          padding: 10px 30px;
          background-color: $themeElevation1;
          cursor: pointer;
          &:hover {
            background-color: $themeElevation2;
          }
        }
        > div:first-child {
          border-radius: $themeBorderRadius 0 0 $themeBorderRadius;
          > p {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: $themeText1;
          }
        }
        > div:last-child {
          border-radius: 0 $themeBorderRadius $themeBorderRadius 0;
          > p {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: $themeText1;
          }
        }
      }
    }
    .fLower {
      @include flexRowCenter;
      gap: 5px;
      > div:nth-child(1) {
        flex: 6;
      }
      > div:nth-child(2) {
        padding: 17px;
        box-sizing: content-box;
        background-color: $themeElevation1 !important;
        border-radius: $themeBorderRadius;
        cursor: pointer;
        @include flexRowCenter;
      }
      > div:nth-child(3) {
        padding: 17px;
        box-sizing: content-box;
        background-color: $themeElevation1 !important;
        border-radius: $themeBorderRadius;
        cursor: pointer;
        @include flexRowCenter;
      }
      .icon {
        height: 26.5px;
        width: 26.5px;
        object-fit: contain;
        margin-right: 10px;
      }
      .iconText {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #d3d3d3;
      }
    }
  }
}
